.App{
  height: 100vh;
  display: flex;
  
  
  
}
table{
  border: 1px solid;

}
td{
  border-bottom: 1px solid gray;
}
button{
  background-color: aqua;
  color: yellow;
}
.card-container-g{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card{
  display: flex;
  justify-content: center;
  align-items: center;
  width:250px;
  font-size: 12px;
  margin-right: 10px;
  margin-bottom: 0px;
  height:150px;
  border-radius: 6px;
  border: 1px solid #0cc8ee;
  
}